<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.badhan.r64">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="org.badhan.r64.core.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.badhan.r64.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.badhan.r64.activity.auth.LoginActivity"/>
        <activity android:name="org.badhan.r64.activity.auth.RegisterActivity"/>
        <activity android:name="org.badhan.r64.activity.auth.ExternalLoginActivity"/>
        <activity android:name="org.badhan.r64.activity.auth.LocalTokenAuthenticationActivity"/>
        <activity
            android:name="org.badhan.r64.activity.ProfileActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="org.badhan.r64.activity.message.SentMessagesActivity"/>
        <activity android:name="org.badhan.r64.activity.message.MessageActivity"/>
        <activity android:name="org.badhan.r64.activity.contact.ContactsActivity"/>
        <activity android:name="org.badhan.r64.activity.contact.ContactDetailsActivity"/>
        <activity android:name="org.badhan.r64.activity.contact.AddContactActivity"/>
        <activity android:name="org.badhan.r64.activity.InboxActivity"/>
        <activity android:name="org.badhan.r64.activity.cadre.CadresActivity"/>
        <activity android:name="org.badhan.r64.activity.cadre.CadreActivity"/>
        <activity android:name="org.badhan.r64.activity.auth.PhoneAuth"/>
        <activity android:name="org.badhan.r64.activity.trainer.TrainersActivity"/>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>